@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components;
@inject LoadingService loading;


    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
    <Loading IsLoading="@isLoading" />
        <main>
            <div class="top-row px-4">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                <div class="container">
                    
                    @Body
                </div>
                
            </article>
        </main>
    </div>

    @code{
        private bool isLoading;

        protected override void OnInitialized()
        {
            loading.OnLoadingChanged += HandleLoadingChanged;
        }

        private void HandleLoadingChanged(bool state)
        {
            isLoading = state;
            StateHasChanged();
        }

        public void Dispose()
        {
            loading.OnLoadingChanged -= HandleLoadingChanged;
        }
    }


