<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GeronApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Mantenedores/UnidadMedida/IndexUnidadMedida">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Unidades de Medidas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Mantenedores/Region/IndexRegion">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Regiones
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Mantenedores/Comuna/IndexComuna">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Comunas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Ficha/Paciente/IndexPaciente">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
